@import "tailwindcss";
@import "swiper/css/bundle";

@plugin "../lib/hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));
/*html {*/
/*    scroll-behavior: smooth;*/
/*}*/

/*.react-toast {*/
/*    @apply bg-content1 text-foreground !important;*/
/*}*/

/*.swiper {*/
/*    @apply flex-1;*/
/*}*/

/*.popularMovies .swiper-button-prev,*/
/*.popularMovies .swiper-button-next {*/
/*    @apply text-white;*/
/*}*/
